* {
  	box-sizing: border-box;
  	margin: 0;
  	padding: 0;
    font-family: Helvetica sans-serif;
}
h1 {
	text-align: center;
	position: relative;
	padding: 10px;
	margin-bottom: 4% ;
	margin-top: 2%;
}
.mainContainer {
	align-content: center;
}
#box {
	position: relative;
  	background-color: gray;
  	border: 1px solid black;
  	height: max-content;
  	margin-left:1% ;
  	float: left; 
}
#content {
	text-align: left; ;
	padding: 15px
}
.Title {
	top: -1px ;
	left: 1px ;
	position: relative;
	text-align: center;
	padding: 5px ;
	border: 1px solid black;
  	margin-left: auto;
  	width: 200px;
}

.T1 {
	background-color: red ;
}
.T2 {
	background-color: yellow ;
}
.T3 {
	background-color: pink ;
}

@media (min-width: 992px){
	.desktop{
		width: 32% ;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.tablet6{
		width: 48% ;
	}
	.tablet12{
		width: 97% ;
		margin-right: auto;
  		margin-left: auto;
  		margin-top:3% ; 
	}
		
}

@media (max-width:767px){
	.movil{
		width: 97% ;
		margin-right: auto;
  		margin-left: auto;
  		margin-top:2% ;
	}

}